img {
    position: relative;
    top: auto;
    left: 355px;
    width: 170px;
}

body {
    background-color: #0c6900;
}

.beauté {
    border-style: dotted;
    width: 720px;
    height: 30px;
}

html {
    margin-left: 430px;
    margin-top: 5px;
}

.gras {
    font-weight: bold;
}

a:link {
    color: rgb(93, 0, 0);
}

a:hover {
    color: rgb(40, 168, 168)
}

a:link {
    text-decoration: none;
}

.espace {
    text-indent: 50px;
}

.pladroite {
    padding-left: 100px;
}

.memel {
    display: inline;
}

.ligne {
    line-height: 80px;
}

ul.a {
    list-style: square;
}

.p1 {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 40px;
}

.color1 {
    background-color: chocolate;
}

.color2 {
    background-color: aquamarine;
}
td {
    padding: 10px;
    text-align: left;
}